/* Dashboard Layout */
.dashboard-container {
    padding: 20px;
    background:#F5F5F5;
    width: 100%;
  }
  .pp
  {
    font-size: 15px;
    font-weight: 200;
    padding-top: 10px;
  }
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .share-btn {
    background: white;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* Dashboard Content Layout */
  .dashboard-content {
    display: flex;
    gap: 20px;
  }
  
  .profile-section
  {
    width: 100%;
  }
  /* Mobile Preview */
 .mobile-preview
 {
  height: 100%;
 }
  
  .share-btn a{
    text-decoration: none;
    color: black;
  }

  .phone-nav {
    display: none; /* Hidden on desktop */
    
  }

  .preview-button  button{
    display: none;
  }
  
  .phone{
    display: none;
  }
 
  
  
  @media (max-width: 768px) {
    .header {
      display: none; /* Hide header in mobile */
    }
  
    .phone-nav {
      display: flex;
      width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Ensures it stays on top */
    }

    .phone-nav .navav img {
      width: 50px;
    }

    .mobile-preview{
      display: none;
    }

    .dashboard-container{

      width: 100%;
      padding: 0;
      margin: 0;
    }

    .navav button{
      border: none;
    }

    .logout-btn-ph{
      border-radius: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      border: none;

    }

    .mobile-preview-btn{
      display: flex;
      position: fixed;
      bottom: 100px;
      right: 120px;
      z-index: 1000;
      background: #ffffff;
      color: rgb(0, 0, 0);
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .phone{
      display: block;
    }
    
  }
  