body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  
}

.container-us {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.left-us {
  flex: 1;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100vh;
}

.right-us {
  height: 100vh;
  width: 30%;
}

.card-us p {
  padding-bottom: 40px;
  color: gray;
  font-weight: 500;
  font-size: 20px;
}

.background-image-us {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #000;
}

p {
  color: #000000;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.input-field-us {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.categories-us {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-button-us {
  border: 1px solid #ddd;
  background: #f1f1f1;
  padding: 10px 15px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.category-button-us.selected-us {
  background-color: #28A263;
  color: white;
  border: none;
}

.continue-button-us {
  width: 100%;
  background-color: #28A263;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.continue-button-us:hover {
  background-color: #006400;
}

/* Mobile Styles */
@media screen and (max-width: 900px) {
  .container-us {
    flex-direction: column;
    padding: 20px;
  }

  .left-us {
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  .right-us {
    display: none;
  }

  .card-us p {
    padding-bottom: 20px;
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  p {
    font-size: 14px;
    text-align: center;
  }

  .input-field-us {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .categories-us {
    justify-content: center;
  }

  .category-button-us {
    padding: 8px 12px;
    font-size: 12px;
  }

  .continue-button-us {
    padding: 12px;
    font-size: 14px;
  }
}
